body {
	background-color: black;
}

#general_menu > h2 {
	margin: 0px 0px 0px 0px;
}

#table_sheet > p {
	margin: 0px 0px 0px 0px;
}

#table_sheet > img {
	margin: 0px 0px 0px 0px;
}

#footer > p {
	margin: 0px 0px 0px 0px;
}

#manipulate_me > p {
	background-color: #999999;
	margin: 0px 0px 0px 0px;
}

#header {
	width: 99%;
	height: 60px;
	background-color: black;
	z-index: 1;
	position: fixed;
	margin-top:	-10px;
	margin-bottom: 10px;
}

#header_div_1 p{
	color: white;
 	float: left;
	margin-left: 10px;
}

#header_div_2 {
	z-index: 2;
	height: 60px;
	width: 300px;
	background-color: orange;
	float: right;
	margin-right: 10px;
}

#header_div_2 > p {
	color: gray;
 	float: right;
	margin-right: 10px;
}

.sub_menu{
	background-color: gray;
	margin: 0px 0px 0px 0px;
}

.slide_sub_menu{
	background-color: gray;
	margin: 0px 0px 0px 0px;
}

.fade_sub_menu{
	background-color: gray;
	margin: 0px 0px 0px 0px;
}

.table_sheet > p {
	margin: 0px 0px 0px 0px;
}

.toggling{
	background-color: #778899;
	font-style: italic;
	font-family: fantasy;
}

#general_menu {
	/* position: relative; */
	float: left;
	border-radius: 10px;
	background-color: ff3333;
	padding: 10px;
	height: 500;
	width: 15%;
	margin-top: 60px;
	margin-bottom: 10px;
}

#table_sheet {
	/* position: relative; */
	float: right;
	border-radius: 10px;
	background-color: #bbbbbb;
	padding: 10px;
	height: 700;
	width: 80%;
	margin-top: 60px;
	margin-bottom: 10px;
}

#footer {
	/* position: relative; */
	border-radius: 10px;
	background-color: #bbbbbb;
	padding: 10px;
	height: 100;
	width: 98%;
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

#animation1 {
	position: relative;
	background-color: orange;
}
